.about {
  .banner {
    max-height: none !important;
  }
  .l-g {
    flex-direction: column;
    padding: 40px 24px;
    box-sizing: border-box;
    flex: 2 1 !important;
    height: fit-content !important;
    width: 100%;
    h2 {
      font-family: Abril Fatface;
      font-size: 28px !important;
      font-weight: 400 !important;
      line-height: 38px !important;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 24px;
    }
    ::-webkit-scrollbar{
        display: none;
    }

    .card_container{
        width: 100%;
        overflow-x: scroll;
    }
    .about_cards {
      display: flex;
      min-width: 1200px;
      justify-content: center;
      margin-top: 24px;
      gap: 32px;
      flex-wrap: wrap;
      .card {
        position: relative;
        margin: 24px;
        .circle {
          height: 100px;
          width: 100px;
          background: #d9d9d9;
          position: absolute;
          left: 35%;
          top: -15%;
        //   right: -50%;
          border-radius: 50%;
        }
        p {
          height: 20em;
          width: 20em;
          padding: 61px 28px;
          box-sizing: border-box;
          border-radius: 11px;
          text-align: center;
          background: linear-gradient(
              90deg,
              rgba(91, 153, 54, 0.28) 0%,
              rgba(160, 162, 63, 0.28) 50%,
              rgba(91, 153, 54, 0.28) 100%
            ),
            linear-gradient(
              0deg,
              rgba(227, 227, 189, 0.28),
              rgba(227, 227, 189, 0.28)
            );

            h3{
                background: linear-gradient(90deg, #E3E3BD 0%, #B5B847 50%, #E3E3BD 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

            }
            span{
                color: #FFFFFF;font-family: Kanit;
                font-size: 1em;
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: center;
                
            }
        }
      }
    }
  }
}
