.blog {
  .hero {
    background-image: url("../../img/blog.png") !important;

    .tbab {
      background: #ffffffa3;
      height: 387px;
      width: 420px;

      border-radius: 11px;
      text-align: center;
      padding: 16px;
      box-sizing: border-box;
      color: #758161;
      .address {
        font-family: Kanit;
        font-size: 12px;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
      }
      h2 {
        font-family: Abril Fatface;
        width: 80%;
        margin-bottom: 12px;
        font-size: 32px;
        font-weight: 400;
        line-height: 43px;
        letter-spacing: 0em;
        text-align: center;
        color: #203513;
        margin: auto;
      }
      p {
        font-family: Kanit;
        font-size: 18px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
        color: #758161;
      }
    }
  }

 .daily_news h2{
    font-family: Kanit;
font-size: 48px;
font-weight: 400;
line-height: 72px;
letter-spacing: 0em;
text-align: center;
color: #758161;


  }
  .news{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    width:min(60em,100vw);
    margin: auto;
    padding: 2em;
    box-sizing: border-box;
  }

  .news~p{
    font-family: Cookie;
font-size: 28px;
font-weight: 400;
line-height: 31px;
letter-spacing: 0em;
text-align: center;
background: linear-gradient(90deg, #5B9936 0%, #A0A23F 50%, #5B9936 100%), rgba(255, 255, 255, 0.2);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

  }
  .headline {
    
    width: min(100vw, 20em);
    left: 142px;
    top: 868px;
    border-radius: 0px;
    background: #FFFFFF;
    .img {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .write_up {
      width: 100%;
      text-align: center;
      height: 250px;
      padding: 18px;
      box-sizing: border-box;
      h4{
        font-family: Kanit;
font-size: 28px;
font-weight: 500;
line-height: 42px;
letter-spacing: 0em;
text-align: center;
color: #203513;
      }

      span{
        margin: 12px 0;
        background: linear-gradient(90deg, #7CAD5E 0%, #B5B847 50%, rgba(124, 173, 94, 0.99) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;font-family: Kanit;
font-size: 22px;
font-weight: 500;
line-height: 33px;
letter-spacing: 0em;
text-align: center;

      }
      p {
        color: #203513;

        opacity: 0.5;
        font-family: Kanit;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
      }
    }
  }
}
